@model RealEstateApp.Models.RealtyAd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RealtyAd</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorAreaSqM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorAreaSqM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LotAreaSqM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotAreaSqM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
